@model AJFIlfov.BusinessLogic.Implementation.DisponibilitateAdminService.Models.CerereDisponibilitateModel

@{
    ViewData["Title"] = "Creare Disponibilitate - Admin";
    Layout = "_LayoutArbitrii";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creare Disponibilitate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/DisponibilitateAdmin/Create.css"/>
</head>
<style>
    html,
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
</style>
<body>

<div class="container">
    <div class="header">
        <h2>Creare Disponibilitate</h2>
    </div>

    <hr/>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                @Html.LabelFor(model => model.Zi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Zi, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(model => model.Zi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <input type="submit" value="Creare" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    }

    <div class="text-center">
        <a asp-action="Index" class="link">Înapoi la Listă</a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>