@model AJFIlfov.BusinessLogic.Implementation.User.Models.UserManagmentModel

@{
    ViewData["Title"] = "Detalii Utilizator - Admin";
    Layout = "_LayoutArbitrii";
}

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Users/Details.css" />
</head>
<style>
    html,
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
</style>
<body>

    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <div class="card">
            <h4>Detalii Utilizator</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">Prenume</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.FirstName)</dd>

                <dt class="col-sm-2">Nume</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.LastName)</dd>

                <dt class="col-sm-2">Data Nașterii</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.BirthDay)</dd>

                <dt class="col-sm-2">Email</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-2">Data Înregistrării</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.RegistrationDay)</dd>

                <dt class="col-sm-2">Descriere Profil</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.ProfileDescription)</dd>

                <dt class="col-sm-2">Rol</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Role)</dd>

                <dt class="col-sm-2">Categorie</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Category)</dd>

                <dt class="col-sm-2">Apartine Lot Liga 4/5?</dt>
                <dd class="col-sm-10">
                    @if (Model.IsLiga4)
                    {
                        <span>Da</span>
                    }
                    else
                    {
                        <span>Nu</span>
                    }
                </dd>

                <dt class="col-sm-2">Calificativ</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Calificativ)</dd>
            </dl>
        </div>

        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="edit-button">Editează</a>
            <a asp-action="Index" class="back-button">Înapoi la Listă</a>
        </div>
    </div>

</body>
</html>
