@model IEnumerable<AJFIlfov.BusinessLogic.Implementation.User.Models.UserManagmentModel>

@{
    ViewData["Title"] = "User Management";
}

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Users/Index.css" />
</head>
<body>

    <div class="container">
        <h1 class="mb-4">@ViewData["Title"]</h1>

        <p>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Create New</a>
        </p>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Prenume</th>
                        <th>Nume</th>
                        <th>Email</th>
                        <th>Data Nașterii</th>
                        <th>Data Înregistrării</th>
                        <th>Rol</th>
                        <th>Acțiuni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.BirthDay.ToString("dd/MM/yyyy")</td>
                            <td>@item.RegistrationDay.ToString("dd/MM/yyyy")</td>
                            <td>@item.Role</td>
                            <td>
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalii</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
