@using AJFIlfov.Common.DTOs
@model IEnumerable<AJFIlfov.BusinessLogic.Implementation.MeciuriService.Models.MeciModel>
@inject CurrentUserDto CurrentUser
@{
    ViewData["Title"] = "Meciuri";
    Layout = "_LayoutArbitrii";
    var groupedByDate = Model.GroupBy(m => m.DataJoc?.ToString("dd MMM yyyy")).OrderBy(g => g.Key);
    var grupe = new List<SelectListItem>
    {
        new() { Value = "e2d0e2f0-ff68-4108-9811-0ab4d4285155", Text = "Liga V" },
        new() { Value = "ef4a0a69-5781-4acd-85e8-3381dc6975a9", Text = "Liga IV" }
    };
}

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/Meciuri/Index.css"/>
    <style>
        .date-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }

        .actions-column {
            width: 200px; /* Increased width to accommodate additional buttons */
        }
    </style>
</head>
<body>

<div class="container">
    <h2>@ViewData["Title"]</h2>
    @if (CurrentUser.Role == "Administrator")
    {
        <p class="text-center">
            <a asp-action="Create" class="btn btn-primary" asp-controller="Meciuri">Creează Delegare</a>
        </p>
        <div class="form-group">
            <label for="grupaDropdown">Selectează Grupa:</label>
            <select id="grupaDropdown" class="form-control">
                @foreach (var grupa in grupe)
                {
                    <option value="@grupa.Value">@grupa.Text</option>
                }
            </select>
        </div>
        <button id="faDelegariButton" class="btn btn-primary">Fa delegari</button>
    }

    @foreach (var group in groupedByDate)
    {
        <div>
            <div class="date-title">@group.Key</div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Echipe</th>
                        <th>Grupa</th>
                        <th>Ora</th>
                        <th>Locație</th>
                        <th>Arbitru</th>
                        <th>Arbitru Asistent 1</th>
                        <th>Arbitru Asistent 2</th>
                        <th>Observator</th>
                        <th>Rezultat</th>
                        <th>Raport</th>
                        @if (CurrentUser.Role == "Administrator")
                        {
                            <th class="text-center actions-column">Acțiuni</th>
                        }
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in group)
                    {
                        <tr>
                            <td>@item.EchipaGazdaNume vs @item.EchipaOaspeteNume</td>
                            <td>@item.GrupaNume</td>
                            <td>@(item.DataJoc.HasValue ? item.DataJoc.Value.ToString("HH:mm") : "N/A")</td>
                            <td>@item.StadionNume, @item.LocalitateNume</td>
                            <td>@item.ArbitruNume</td>
                            <td>@item.ArbitruAsistent1Nume</td>
                            <td>@item.ArbitruAsistent2Nume</td>
                            <td>@item.ObservatorNume</td>
                            <td>@item.Rezultat</td>
                            <td>
                                @if (item.Raport != null)
                                {
                                    <a href="@Url.Action("DownloadRaport", "Meciuri", new { id = item.IdMeci })" class="btn btn-info btn-sm" title="Descarcă Raport">
                                        <i class="fas fa-file-download"></i> Descarcă
                                    </a>
                                }
                                else
                                {
                                    <span>Fără raport</span>
                                }
                            </td>
                            @if (CurrentUser.Role == "Administrator")
                            {
                                <td class="text-center actions-column">
                                    <a asp-action="EditareMeciAdmin" asp-route-id="@item.IdMeci" class="btn btn-warning btn-sm" title="Editează">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <form asp-action="GenerateReport" method="post" style="display:inline;">
                                        <input type="hidden" name="matchId" value="@item.IdMeci"/>
                                        <button type="submit" class="btn btn-success btn-sm" title="Generare Raport">
                                            <i class="fas fa-file-alt"></i> Generează Raport
                                        </button>
                                    </form>
                                    <button type="button" class="btn btn-danger btn-sm delete-button" data-id="@item.IdMeci" title="Șterge">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
            $(document).ready(function () {
                $('.delete-button').on('click', function (event) {
                    let deleteButton = $(this);
                    let listingId = deleteButton.data('id');

                    let confirmation = confirm("Ești sigur că vrei să ștergi acest meci?");
                    if (confirmation) {
                        $.ajax({
                            type: 'POST',
                            url: '/Meciuri/DeleteConfirmed/' + listingId,
                            success: function () {
                                toastr.success('Meci șters cu succes!', 'Succes');
                                $('button[data-id="' + listingId + '"]').closest('tr').remove();

                                setTimeout(() => { window.location.href = "/Meciuri"; }, 100);
                            },
                            error: function () {
                                toastr.error('Ștergerea meciului a eșuat!', 'Eroare');
                            }
                        });
                    }
                });

                $('#faDelegariButton').on('click', function () {
                    let selectedGrupaId = $('#grupaDropdown').val();
                    window.location.href = '/Meciuri/EditareMeciuriGrupa/' + selectedGrupaId;
                });
            });
        </script>
}

</body>
</html>