@inject AJFIlfov.Common.DTOs.CurrentUserDto CurrentUser
@using System.Linq
@using AJFIlfov.BusinessLogic.Implementation.MeciuriService.Models
@using AJFIlfov.Entities.Entities
@{
    ViewData["Title"] = "Acasă";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bine ai revenit in aplicatia de arbitrii, @CurrentUser.FirstName @CurrentUser.LastName!</h1>

        @if (User.Identity.IsAuthenticated)
        {
            @if (User.Identity.IsAuthenticated && CurrentUser.Role != "Administrator")
            {
                if (ViewBag.Meciuri != null && ((IEnumerable<MeciModel>)ViewBag.Meciuri).Any())
                {
                    <p class="lead">Meciurile tale:</p>
                    <hr class="my-4">
                    <ul class="list-group">
                        @foreach (var meci in ViewBag.Meciuri)
                        {
                            <li class="list-group-item">
                                @meci.EchipaGazdaNume vs @meci.EchipaOaspeteNume - @meci.DataJoc.ToString("dd/MM/yyyy hh:mm") <a href="/Meciuri/Edit/@meci.IdMeci" class="btn btn-sm btn-warning float-right">Editează</a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>Nu ai meciuri programate.</p>
                }
            }
        }
        else
        {
            @* <a class="btn btn-primary btn-lg" href="https://ajfilfovwebsite20241218232333.azurewebsites.net/Account/Login">Loghează-te pentru a vedea meciurile tale</a> *@
            <a class="btn btn-primary btn-lg" href="/Account/Login">Loghează-te pentru a vedea meciurile tale</a>

        }
    </div>
</div>